/* Parametros generales para todos los CUADROS DE TEXTO de buscar cliente , vehiculo  */

.textField {
    -fx-background-color: white;
    -fx-border-color: black;
    -fx-border-width: 2;
    -fx-border-radius: 5;
    -fx-scale-x: 1.0;
    -fx-scale-y: 1.0;
    -fx-max-width: 164;
    -fx-max-height: 38;
    -fx-font-family: Tahoma;
    -fx-font-size: 14;
}

.textField:hover {
    -fx-scale-x: 1.02;
    -fx-scale-y: 1.02;
}

.textField:pressed {
    -fx-scale-x: 1.0;
    -fx-scale-y: 1.0;
}


/* Parametros y configuración para el boton ACEPTAR de buscar clientes, vehiculos */

.button-check {
    -fx-background-color: #6cb499;  
    -fx-font-family: Tahoma;
    -fx-font-weight: bold;
    -fx-font-color: black;
    -fx-font-size: 16;
    -fx-max-height: 43;
    -fx-max-width: 48;
}

.button-check:hover {
    -fx-translate-y: -5;
}

.button-check:pressed {
    -fx-translate-y: 0;
}

.stackPane-check {
    -fx-background-color: #015D52;
    -fx-background-radius: 5;
    -fx-border-color: black;
    -fx-border-width: 3;
    -fx-border-radius: 5;
    -fx-max-height: 43;
    -fx-max-width: 48;
}


/* Parametros y configuración para el boton CANCELAR de buscar clientes, vehiculos, alquileres  */

.button-Cancelar {
    -fx-background-color: #b46c6c;
    -fx-font-family: Tahoma;
    -fx-font-weight: bold;
    -fx-font-color: black;
    -fx-font-size: 16;
    -fx-translate-y: -0.5;
}

.button-Cancelar:hover {
    -fx-translate-y: -5;
}

.button-Cancelar:pressed {
    -fx-translate-y: -0.5;
}

.stackPane-Cancelar {
    -fx-background-color: #5d0101;
    -fx-background-radius: 5;
    -fx-border-color: black;
    -fx-border-width: 3;
    -fx-border-radius: 5;
    -fx-max-height: 38;
    -fx-max-width: 98;
}


/* Parametros y configuración para el boton BORRAR de buscar clientes, vehiculos  */

.button-Borrar {
    -fx-translate-y: -0.8;
    -fx-background-color: #969696;
}

.button-Borrar:hover {
    -fx-translate-y: -5;
}

.button-Borrar:pressed {
    -fx-translate-y: -0.8;
}

.stackPane-Borrar {
    -fx-background-color: #2c2c2c;
    -fx-background-radius: 5;
    -fx-border-color: black;
    -fx-border-width: 3;
    -fx-border-radius: 5;
}


/* Parametros y configuración para el boton MODIFICAR de buscar clientes  */

.button-Modificar {
    -fx-background-color: #6cb499;
    -fx-font-family: Tahoma;
    -fx-font-weight: bold;
    -fx-font-color: black;
    -fx-font-size: 16;
    -fx-translate-y: -0.6;
}

.button-Modificar:hover {
    -fx-translate-y: -5;
}

.button-Modificar:pressed {
    -fx-translate-y: -0.6;
}

.stackPane-Modificar {
    -fx-background-color: #015D52;
    -fx-background-radius: 5;
    -fx-border-color: black;
    -fx-border-width: 3;
    -fx-border-radius: 5;
    -fx-max-height: 38;
    -fx-max-width: 104;
}


/* Parametros y configuración para el boton DEVOLVER de buscar clientes  */

.button-Devolver {
    -fx-background-color: #6cb499;
    -fx-font-family: Tahoma;
    -fx-font-weight: bold;
    -fx-font-color: black;
    -fx-font-size: 16;
    -fx-translate-y: -0.6;
}

.button-Devolver:hover {
    -fx-translate-y: -5;
}

.button-Devolver:pressed {
    -fx-translate-y: -0.6;
}

.stackPane-Devolver {
    -fx-background-color: #015D52;
    -fx-background-radius: 5;
    -fx-border-color: black;
    -fx-border-width: 3;
    -fx-border-radius: 5;
    -fx-max-height: 38;
    -fx-max-width: 104;
}


/* Parametros y configuración para las ETIQUETAS principales de buscar clientes, vehiculos, alquileres */

.label {
    -fx-font-family: Tahoma;
    -fx-font-weight: bold;
    -fx-font-color: black;
    -fx-font-size: 22;
}


/* Parametros y configuración para las ETIQUETAS principales de buscar clientes, vehiculos */

.label-Mostrados {
    -fx-font-family: Tahoma;
    -fx-font-weight: normal;
    -fx-font-color: black;
    -fx-font-size: 16;
}


/* Parametros y configuración para las LISTAS principales de buscar clientes, vehiculos, alquileres */

.listView {
    -fx-max-width: 380;
    -fx-max-height: 80;
    -fx-border-width: 2;
    -fx-border-color: black;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
}


/* Parametros y configuración para el SELECTOR DE FECHA de fecha de alquiler de buscar alquiler */

.datePicker {
    -fx-border-width: 2;
    -fx-border-color: black;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
    -fx-max-height: 38;
    -fx-max-width:  164;
}


/* Parametros y configuración para el VBOX de buscar alquiler */

.vbox-alquiler {
    -fx-border-width: 2;
    -fx-border-color: black;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
    -fx-background-color: #ECE2C6;
    -fx-pref-height: 380;
    -fx-pref-width: 400;
}


/* Parametros y configuración para el GRID PANEL de buscar cliente */

.grid-cliente {
    -fx-border-width: 2;
    -fx-border-color: black;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
    -fx-background-color: #ECE2C6;
    -fx-max-height: 177;
    -fx-max-width:  364;
}


/* Parametros y configuración para el GRID PANEL de buscar vehiculo */

.grid-vehiculo {
    -fx-border-width: 2;
    -fx-border-color: black;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
    -fx-background-color: #ECE2C6;
    -fx-max-height: 230;
    -fx-max-width:  320;
}
