/* Parametros y configuración para los BOTONES principales de la ventana principal */

.button {
    -fx-background-radius: 10;
    -fx-background-color: #333333;
    -fx-scale-x: 1.0;
    -fx-scale-y: 1.0;
    -fx-transition: all 1s ease-in-out;
    -fx-border-color: #777777;
    -fx-border-radius: 10;
    -fx-border-width: 3;
    -fx-text-fill: #FFFFFF;
}

.button:hover {
    -fx-background-color: #444444;
    -fx-text-fill: #FFFFFF;
    -fx-scale-x: 1.06;
    -fx-scale-y: 1.06;
}

.button:pressed {
    -fx-background-color: #555555;
    -fx-text-fill: #FFFFFF;
    -fx-scale-x: 1;
    -fx-scale-y: 1;
}


/* Parametros y configuración para la BARRA LATERAL de la ventana principal */

#vbox-MenuBar {
    -fx-background-color: #222222;
    -fx-border-width: 0 2 0 0;
    -fx-border-color: #555555;
    -fx-effect: dropshadow(Three-pass-box, #000000, 8, 0, 0, 0 );
}

#vbox-MenuBar:hover {
    -fx-background-color: #252525;
    -fx-scale-x: 1.02;
    -fx-scale-y: 1.02;
}


/* Parametros y configuración para los BOTONES de la barra lateral de la ventana principal */

#button-imageView {
    -fx-border-width: 0;
    -fx-background-color: #666666;
    -fx-translate-y: -1;
    -fx-background-radius: 5;
}

#button-imageView:hover {
    -fx-translate-y: -5 ;
    -fx-background-color: #555555;
    -fx-scale-x: 1;
    -fx-scale-y: 1;
}

#button-imageView:pressed {
    -fx-background-color: #333333;
    -fx-translate-y: 0 ;
}

#stackPane-button-imageView {
    -fx-border-radius: 5;
    -fx-border-width: 3;
    -fx-border-color: #888888;
    -fx-background-color: #111111;
    -fx-background-radius: 10;
    -fx-min-width: 57;
    -fx-min-height: 48;
    
}


/* Parametros y configuración para la BARRA INFERIOR de la ventana principal */

#hbox-botLine {
    -fx-background-color: #555555;
    -fx-border-width: 2 0 0 0;
    -fx-border-color: #777777;
    -fx-effect: dropshadow(Three-pass-box, #000000, 8, 0, 0, 0 );
    -fx-max-width: 700;
    -fx-max-height: 32;
}

#hbox-botLine:hover {
    -fx-scale-x: 1.02;
    -fx-scale-y: 1.02;
    -fx-background-color: #666666;
}


/* Parametros y configuración para los HYPERLINKS de la ventana principal */

#hyperlink-imageView {
    -fx-border-radius: 0;
    -fx-border-width: 0;
}

#hyperlink-imageView:hover {
    -fx-scale-x: 1.06;
    -fx-scale-y: 1.06;
    -fx-background-color: #888888;
    -fx-background-radius: 3;
}

#hyperlink-imageView:pressed {
    -fx-scale-x: 1.0;
    -fx-scale-y: 1.0;
    -fx-background-color: #555555;
}


/* Parametros y configuración para las ETIQUETAS principales de la ventana principal */

#label-MainNames {
    -fx-text-fill: #FFFFFF ;
}


/* Parametros y configuración para los HBOX horizontales de la ventana principal */

#hbox {
    -fx-background-color: #444444;
    -fx-background-radius: 10;
    -fx-border-color: #888888;
    -fx-border-radius: 10;
    -fx-border-width: 3;
}


/* Parametros y configuración para el HBOX principal de la ventana principal */

#hbox-MainScene {
    -fx-background-color: #555555;
    -fx-border-color: #999999;
    -fx-border-width: 3;
}


/* Parametros y configuración para los separadores de la ventana principal */

#separator-horizontal {
    -fx-max-width: 46;
    -fx-blend-mode: multiply;
}

#separator-vertical {
    -fx-max-height: 110;
    -fx-blend-mode: multiply;
}


/* Parametros y configuración para los separadores de la ventana principal */

#estiloVboxMenuDesplegable {
    -fx-background-color: #3b3b3b; 
    -fx-effect: innershadow(Three-pass-box, black, 4, 0, 2, 0 ); 
    -fx-border-width: 3 3 3 0; 
    -fx-border-color:black; 
    -fx-border-radius: 0 5 5 0; 
    -fx-background-radius: 0 6 6 0;;
}


/* Parametros y configuración para los separadores de la ventana principal */

#estiloBotonesMenuDesplegable {
    -fx-background-color: #6b6b6b; 
    -fx-background-radius: 3; 
    -fx-border-radius: 3; 
    -fx-border-width: 0;
}